*{
    margin: 0;
    padding: 0;
    border: 0;
}

.cabecalho {
    background-color: #be89cb;
    height: 103px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.lista-menu {
    display: flex;
    gap: 40px;
    margin-right: 20px;
}
li{
    list-style: none;
}

.lista-menu li> a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}

.perfil{
    background-color: #edeaea;
    height: 679px;
    text-align: center;
}

h1 {
    color:#ba2dbf;
    font-size: 36px;
}

.profissao {
    color: #828282;
    font-size: 25px;
}

.descricao {
    color: #000000;
    width: 594px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    font-size: 16px;
    line-height: 22.4px;
    margin-top: 20px;
    align-content: center;
}

img {
    margin-top: 48px;
    margin-bottom: 26px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 86px 12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
}


.artigo-formacao {
    margin-bottom: 50px;
}

.titulo-secao {
    color: #ba2dbf;
    font-size: 24px;
    margin-bottom: 100px;
  
}

.lista-secao {
    padding-left: 32px;
}

.titulo-item {
    font-size: 16px;
    color: #828282;
    font-weight: 700;
}

.link-item {
    color: #2F80ED;
    font-size: 14px;
    text-decoration: none;
}

.descricao-item {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 53px;
}

.projetos{
    background-color: #edeaea;
    
}    

.container-2 {
    display: flex;
    flex-direction: column;
    padding: 86px 12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
}


.artigo-formacao-2 {
    margin-bottom: 50px;
}

.titulo-secao-2 {
    color: #ba2dbf;
    font-size: 24px;
    margin-bottom: 100px;
  
}

.lista-secao-2 {
    padding-left: 32px;
}

.titulo-item-2 {
    font-size: 16px;
    color: #661E4B;
    font-weight: 700;
}

.link-item-2 {
    color: #2F80ED;
    font-size: 14px;
    text-decoration: none;
}

.descricao-item-2 {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 53px;
}

.rodape{
    display: flex;
    align-items: center;
    background-color: #BE89CB;
    height: 300px;
}
.lista-rodape li{
    font-size: 18px;
    margin-bottom: 18px;
    font-weight: 700;
    gap: 14px;
}
.lista-rodape li > a {
    text-decoration: none;
    color: #FFFFFF;
}
.container-rodape {
    margin-left: 30px;
}
.fa-linkedin {
    color: #374afa;
}

.fa-instagram {
    color: #c00788;
}